.git
.gitignore

backend/vendor
frontend/node_modules

bin/
frontend/dist/
backend/cmd/shorty/dist/

.env
*.db
*.db-wal
*.db-shm

.vscode/
.idea/
*.swp
*.swo

Dockerfile
docker-compose.yml
.dockerignore

*.md

coverage.out
